<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Spendings</title>
  <link type="text/css" rel='stylesheet' href='/css/main2.css' />
  <link rel="icon" type="image/x-icon" href="/icon.png">
</head>

<body style="background: #009579; width: 1537px;">
  <div style="min-height:100vh; display:flex; flex-direction:column; 
  justify-content:space-between;">

    <!-- Header -->
    <div class="header_row">

      <div class="column1">
        <h1><strong>Hello <%= user %></strong></h1>
      </div>

      <div class="column3">
        <form action="/users/logout">
          <button type="submit" class="form__button" style="width: 100%;">Log Out</button>
        </form>
      </div>

      <div class="column2">

        <h1><b>FAM BUDGETLY</b></h1>
      </div>

      <div class="columnheader">
        <img src="/headericon.png" alt="headerIcon" width="200px" height="105px">
      </div>

    </div>

    <div class="header_row">
      <div class="column4">
        <section>

          <nav>
            <ul>
              <li style="color: #009579">
                <h2><b>Main</b></h2>
              </li>
              <li><a href="/users/dashboard"><b>Dashboard</b></a></li>
              <li><a href="/users/profile"><b>Profile</b></a></li>
              <li><a href="/users/viewbudget"><b>View Budget</b></a></li>
              <li><a href="/users/viewspending"><b>View Spendings</b></a></li>
              <li><a href="/users/spending"><b>Spendings</b></a></li>
          
                <%if(user_role=="super" ){ %>
                  <li style="color: #009579">
                      <h2><b>Customize</b></h2>
                  </li>
                  <li><a href="/users/category"><b>Manage Categories</b></a></li>
                  <li><a href="/users/managebudget"><b>Manage Budget</b></a></li>
                  <li><a href="/users/startmonth"><b>Start Month</b></a></li>
                  <li><a href="/users/allUsers"><b>Manage Users</b></a></li>
                  <li style="color: #009579">
                    <h2><b>Filters</b></h2>
                  </li>
                  <li><a href="/users/allspending"><b>All Spendings</b></a></li>
                  <li><a href="/users/generatereport"><b>Generate Report</b></a></li>
                  <% } else {%>
                    <div style="height: 400px;"></div>
                  <% } %>
            </ul>
          </nav>
        </section>
      </div>

      <div class="column5">
        <div class="MainBody">
          <div class="search">
            Search
          </div>

          <div class="form__input">
            <form action="/users/allspending" method="POST" form id="viewallspending">
              <select name="theYear" id="year" class="form__button" style="margin-left:3%" required>
                <option selected disabled>Year</option>
                <% for(let iCount=1990; iCount <=theYear; iCount++) { %>
                  <% if(iCount==theYear){ %>
                    <option value="<%=iCount%>" selected>
                      <%=iCount%>
                    </option>
                    <% }else{ %>
                      <option value="<%=iCount%>">
                        <%=iCount%>
                      </option>
                      <% } %>
                        <% } %>
              </select>
              <select name="theMonth" id="month" class="form__button" required>
                <option selected disabled>Month</option>
                <% for(let iCount=1; iCount <=12; iCount++) { %>
                  <% if(iCount==theMonth){ %>
                    <option value="<%=iCount%>" selected>
                      <%=iCount%>
                    </option>
                    <% }else{ %>
                      <option value="<%=iCount%>">
                        <%=iCount%>
                      </option>
                      <% } %>
                        <% } %>
              </select>
              <button class="inputbutton" type="submit">Search</button>
              <div class="form__message--error" >
                <% if(messages.error_msg1) { %>
                  <li style="list-style-type: none">
                    <%= messages.error_msg1 %>
                  </li>
                  <% } %>
              </div>
              <div class="form__message--success" >
                <% if(messages.success_msg1) { %>
                  <li style="list-style-type: none">
                    <%= messages.success_msg1 %>
                  </li>
                  <% } %>
              </div>
            </form>
          </div>

          <div class="search">
            All Spendings
          </div>
          <div class="form__input">
            <form action="/users/allspending/add" method="POST" form id="addallspending">
              <select name="theUser" id="User" class="form__button" style="margin-left:2%; width: 180px;" required>
                <option selected disabled>User</option>
                <% for(let iCount=0; iCount < allUsers.length; iCount++) { %>
                  <option value="<%=allUsers[iCount].user_id%>">
                    <%=allUsers[iCount].full_name%>
                  </option>
                  <% } %>
              </select>
              <select name="category" id="Category" class="form__button" style="width: 20%;" required>
                <option selected disabled>Category</option>
                <% for(let iCount=0; iCount < allCategory.length; iCount++) { %>
                  <option value="<%=allCategory[iCount].category_id%>">
                    <%=allCategory[iCount].category_name%>
                  </option>
                  <% } %>
              </select>
              <input type="number" step=".01" min="0" id="spending" name="spending"
                style="width:fit-content; width: 19%;" class="form__button" required />
              <input type="date" id="spending_date" name="spending_date" style="width:fit-content" class="form__button"
                required />
              <button class="form__button" type="submit">Add</button>
              <input type="hidden" id="theMonth" name="theMonth" value="<%=theMonth%>" />
              <input type="hidden" id="theYear" name="theYear" value="<%=theYear%>" />
              <div class="form__message--error" ><% if(messages.error_msg2) { %>
                <li style="list-style-type: none"><%= messages.error_msg2 %></li>
              <% } %> </div>
              <div class="form__message--success" ><% if(messages.success_msg2) { %>
                <li style="list-style-type: none"><%= messages.success_msg2 %></li>
              <% } %> </div>

            </form>
          </div>
          <div class="tabledisplay">

            <% function dateTime(myDate){ %>
              <%let dt=new Date(myDate);%>
                <%let date=("0" + dt.getUTCDate()).slice(-2);%>
                  <%let month=("0" + (dt.getUTCMonth() + 1)).slice(-2);%>
                    <%let year=dt.getFullYear();%>


                      <%var output=year + "-" + month + "-" + date;%>
                        <%return output; %>
                          <% }%>
                            <table style="width:100%">
                              <tr>
                                <th><b>User</b></th>
                                <th><b>Category</b></th>
                                <th><b>Spending</b></th>
                                <th><b>Date</b></th>
                                <th><b>Action</b></th>
                              </tr>
                              <% for(let iCount=0; iCount < allSpendingData.length; iCount++) { %>
                                <tr>
                                  <td>
                                    <%= allSpendingData[iCount].full_name %>
                                  </td>
                                  <td>
                                    <%= allSpendingData[iCount].category_name %>
                                  </td>
                                  <td>$<%= allSpendingData[iCount].spending %>
                                  </td>
                                  <td>
                                    <%= dateTime(allSpendingData[iCount].spending_date)%>
                                  </td>
                                  <td class="edit">
                                    <a href="/users/spending/edititem/<%= allSpendingData[iCount].category_id %>/<%= allSpendingData[iCount].time_of_entry%>/<%= allSpendingData[iCount].user_id%>"
                                      type="button"><b>Edit</b></a>
                                    <a href="/users/spending/deleteitem/<%= allSpendingData[iCount].category_id %>/<%= allSpendingData[iCount].time_of_entry%>/<%= allSpendingData[iCount].user_id%>/<%= allSpendingData[iCount].spending_date%>"
                                      type="button"><b>Delete</b></a>
                                  </td>
                                </tr>
                                <% } %>

                            </table>
          </div>
        </div>
        <hr class="my-4">
      </div>
    </div>



    <footer class="footer-distributed">

      <div class="footer-left">

        <h3>Fam <span>Budgetly</span></h3>

        <p class="footer-company-name">Fam Budgetly © 2022</p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>12666 72 Avenue, Surrey, BC, Canada</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+1.555.555.5555</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:fambudgetly@outlook.com">fambudgetly@outlook.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About the company</span>
          Fam Budgetly is designed to help you manage your budget. Families can now spend wisely and save as
          much as they want.
        </p>

        <div class="footer-icons">

          <a href="https://www.facebook.com"><img src="/FB.png"></i></a>
          <a href="https://www.twitter.com"><img src="/Twitter.png"></i></a>
          <a href="https://www.linkedin.com/in/ramandeepsingh146"><img src="/Linkedin.png"></i></a>
          <a href="https://www.github.com/ramandeep146"><img src="/Github.png"></i></a>

        </div>

      </div>
    </footer>
  </div>
</body>

</html>