<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel='stylesheet' href='/css/main2.css' />
  <link rel="icon" type="image/x-icon" href="/icon.png">
    <title>Edit Spending</title>
</head>
<body>
    <div class="loginBody">
      <div class="container1">
        <% function dateTime(myDate){ %>
            <%let dt = new Date(myDate);%>
            <%let date = ("0" + dt.getUTCDate()).slice(-2);%>
            <%let month = ("0" + (dt.getUTCMonth() + 1)).slice(-2);%>
            <%let year = dt.getFullYear();%>
    
    
            <%var output = year + "-" + month + "-" + date;%>
            <%return output; %>
        <% }%>
        <div class="form__input">
        <form action="/users/allspending/edit/<%=spendingToEdit.category_id%>/<%=spendingToEdit.time_of_entry%>/<%=spendingToEdit.user_id%>" method="POST" form id="addallspending">
          <h1 class="form__title">Edit Spendings</h1>
          <select name="theUser" id="theUser" class="form__button margins" required>
            <option selected disabled>User</option>
          <% for(let iCount=0; iCount < allUsers.length; iCount++) { %>
            <%if(allUsers[iCount].user_id == spendingToEdit.user_id) {%>
               <option value = "<%=allUsers[iCount].user_id%>" selected><%=allUsers[iCount].full_name%></option>
            <%} else{ %>
               <option value = "<%=allUsers[iCount].user_id%>"><%=allUsers[iCount].full_name%></option>
            <% }%>  
          <% } %>
          </select>
            <select name="category" id="category" class="form__button margins" required>
              <option selected disabled>Category</option>
            <% for(let iCount=0; iCount < allCategory.length; iCount++) { %>
                <%if(allCategory[iCount].category_id == spendingToEdit.category_id) {%>
                    <option value = "<%=allCategory[iCount].category_id%>" selected><%=allCategory[iCount].category_name%></option>
                <%} else{ %>
                    <option value = "<%=allCategory[iCount].category_id%>"><%=allCategory[iCount].category_name%></option>
                <% }%>
            <% } %>
            </select>
            <input type="number" style="width:fit-content" class="form__button margins" step=".01" min="0" id="spending" name="spending" value="<%=spendingToEdit.spending%>" required/>
            <input type="date" style="width:fit-content" class="form__button margins" id="spending_date" name="spending_date" value = <%=dateTime(spendingToEdit.spending_date)%> required/>
            <button class="form__button btn" type="submit">Save Changes</button>
            <div class="form__input-error-message" ><% if(messages.error_msg2) { %>
              <li style="list-style-type: none"><%= messages.error_msg2 %></li>
            <% } %> </div>
            <div class="form__input-success-message" ><% if(messages.success_msg2) { %>
              <li style="list-style-type: none"><%= messages.success_msg2 %></li>
            <% } %> </div>
          </div>
        </form>
      </div>
      </div>
    </div>
</body>
</html>