<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel='stylesheet' href='/css/main2.css' />
  <link rel="icon" type="image/x-icon" href="/icon.png">
    <title>Edit Budget</title>
</head>
<body>
  <div class="loginBody">
    <div class="container1">

        <form  action="/users/<%=thisPath%>/edititem/<%=category_id%>/<%=category_name%>" method="POST" form id="editbudgetitem">
          <h1 class="form__title">Input new budget value for the category</h1>
            <label for="budget" style="color: teal;font-weight: 500; font-size: large;" id="category_name" name ="category_name" value="<%=category_name%>"><%=category_name%></label>
           
            <input style="width:fit-content"
            class="form__button margins" type="number" step=".01" min="0" id="budget" name="budget"  placeholder="$" required/>
            <div style="height: 25px;"></div>
            <button class="login__button" type="submit">Save Changes</button>
            <div class="form__input-error-message" ><% if(messages.error_msg) { %>
              <li style="list-style-type: none"><%= messages.error_msg %></li>
            <% } %> 
          </div>
        </form>
      </div>
  </div>
</body>
</html>