<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Month</title>
    <link type="text/css" rel='stylesheet' href='/css/main2.css' />
  <link rel="icon" type="image/x-icon" href="/icon.png">
</head>
<body style="background: #009579; width: 1537px;">
  <div style="min-height:100vh; display:flex; flex-direction:column; 
  justify-content:space-between;">

    <!-- Header -->
    <div class="header_row" style="background-color: black; border-bottom: 2px solid white">

      <div class="column1" style="background-color: black;">
        <h1><strong>Hello <%= user %></strong></h1>
      </div>

      <div class="column3" style="background-color: black;">
        <form action="/users/logout">
          <button type="submit" class="form__button" style="width: 100%;">Log Out</button>
        </form>
      </div>

      
      <div style="margin-top: 20px;">
      <div class="column2">

        <h1 style="color: #009579; font-size: 50px;"><b>FAM BUDGETLY</b></h1>
      </div>

      <div class="columnheader">
        <img src="/headericon.png" alt="headerIcon" width="140px" height="90px">
      </div>
      </div>

    </div>

    <div class="header_row">
      <div class="column4">
        <section>

          <nav>
            <ul>
              <li style="color: #009579">
                <h2><b>Main</b></h2>
              </li>
              <li><a href="/users/dashboard"><b>Dashboard</b></a></li>
              <li><a href="/users/profile"><b>Profile</b></a></li>
              <li><a href="/users/viewbudget"><b>View Budget</b></a></li>
              <li><a href="/users/viewspending"><b>View Spendings</b></a></li>
              <li><a href="/users/spending"><b>Spendings</b></a></li>
              <%if(user_role=="super" ){ %>
                <li style="color: #009579">
                    <h2><b>Customize</b></h2>
                </li>
                <li><a href="/users/category"><b>Manage Categories</b></a></li>
                <li><a href="/users/managebudget"><b>Manage Budget</b></a></li>
                <li><a href="/users/startmonth"><b>Start Month</b></a></li>
                <li><a href="/users/allUsers"><b>Manage Users</b></a></li>
                <li style="color: #009579">
                  <h2><b>Filters</b></h2>
                </li>
                <li><a href="/users/allspending"><b>All Spendings</b></a></li>
                <li><a href="/users/generatereport"><b>Generate Report</b></a></li>
                <% } else {%>
                  <div style="height: 400px;"></div>
                <% } %>
            </ul>
          </nav>
        </section>
      </div>

      <div class="column5">
        <div class="MainBody">
          <div class="heading">
            <h1><b>Start Of Month</b></h1>
          </div>
        
          <div class="form__input"> 
            <form  action="/users/startmonth/additem" method="POST" form id="additem">
                <select name="category" id="category" class="form__button" required>
                <% for(let iCount=0; iCount < allCategory.length; iCount++) { %>
                    <option value = "<%=allCategory[iCount].category_id%>"><%=allCategory[iCount].category_name%></option>
                <% } %>
                </select>
                <input type="number" class="inputbutton" step=".01" min="0" id="budget" name="budget"  placeholder="$" required/>
                <button class="form__button" type="submit">Add</button>
                <div class = "form__message--error"><% if(messages.error_msg) { %>
                  <li style="list-style-type: none"><%= messages.error_msg %></li>
                <% } %> </div>
                <div class ="form__message--success" ><% if(messages.success_msg) { %>
                  <li style="list-style-type: none"><%= messages.success_msg %></li>
                <% } %> 
              </div>
            </form>
          </div>
        
          <div class="tabledisplay">
            <table style="width:100%">
                <tr>
                  <th scope="col"><b>Category</b></th>
                  <th scope="col"><b>Budget</b></th>
                  <th scope="col"><b>Action</b></th>
                </tr>
                <% for(let iCount=0; iCount < allBudget.length; iCount++) { %>
                <tr>
                  <td><%= allBudget[iCount].category_name %></td>
                  <td>$<%= allBudget[iCount].budget %></td>
                  <td class="edit">
                    <a href="/users/startmonth/edititem/<%= allBudget[iCount].category_id %>" type="button">Edit</a>
                    <a href="/users/startmonth/deleteitem/<%= allBudget[iCount].category_id %>" type="button">Delete</a>
                  </td>
                </tr>
                <% } %>
            </table>
            <form action="/users/startmonth/submit" method="POST" form id = "submitbudget">
              <button class="startmonth" type="submit">Start Month</button>
            </form>
          </div>
        </div>
        <hr class="my-4">
      </div>
    </div>
  </div>


    <footer class="footer-distributed">

      <div class="footer-left">

        <h3>Fam <span>Budgetly</span></h3>

        <p class="footer-company-name">Fam Budgetly © 2022</p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>12666 72 Avenue, Surrey, BC, Canada</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+1.555.555.5555</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:fambudgetly@outlook.com">fambudgetly@outlook.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About the company</span>
          Fam Budgetly is designed to help you manage your budget. Families can now spend wisely and save as
          much as they want.
        </p>

        <div class="footer-icons">

          <a href="https://www.facebook.com"><img src="/FB.png"></i></a>
          <a href="https://www.twitter.com"><img src="/Twitter.png"></i></a>
          <a href="https://www.linkedin.com/in/ramandeepsingh146"><img src="/Linkedin.png"></i></a>
          <a href="https://www.github.com/ramandeep146"><img src="/Github.png"></i></a>

        </div>

      </div>
    </footer>

</body>
</html>